<section class="w-full flex flex-col justify-center items-center gap-4 p-4">
  <form class="flex flex-col gap-4" [formGroup]="form">
    <p>What did you think of the content on our website?</p>

    <div class="w-full flex flex-col">
      <label for="comment" class="font-medium">Comment</label>
      <textarea formControlName="comment" id="comment" name="comment" rows="5" class="text-black"></textarea>
    </div>

    <div class="w-full flex flex-col">
      <label for="rating" class="font-medium">Rate</label>
      <app-rating formControlName="rating" id="rating" name="rating"></app-rating>
    </div>

    <div class="w-full flex flex-col">
      <app-button title="Submit form" [disabled]="form.invalid" (onButtonClick)="onSubmit()" />
    </div>
  </form>
</section>