<section class="max-w-80 flex flex-col items-center gap-4 p-4 mx-auto">
  <div class="grid border border-[--border-color] overflow-hidden" 
    [@slide]="{
      value: currentImageIndex(),
      params: {
        leaveEnd: animationDirection() === 'right' ? '100%' : '-100%',
        enterStart: animationDirection() === 'right' ? '-100%' : '100%'
      }
    }">
    @switch (currentImageIndex()) {
      @case (1) { <ng-container [ngTemplateOutlet]="image" [ngTemplateOutletContext]="{ $implicit: 1 }"></ng-container> }
      @case (2) { <ng-container [ngTemplateOutlet]="image" [ngTemplateOutletContext]="{ $implicit: 2 }"></ng-container> }
      @case (3) { <ng-container [ngTemplateOutlet]="image" [ngTemplateOutletContext]="{ $implicit: 3 }"></ng-container> }
      @case (4) { <ng-container [ngTemplateOutlet]="image" [ngTemplateOutletContext]="{ $implicit: 4 }"></ng-container> }
      @case (5) { <ng-container [ngTemplateOutlet]="image" [ngTemplateOutletContext]="{ $implicit: 5 }"></ng-container> }
      @case (6) { <ng-container [ngTemplateOutlet]="image" [ngTemplateOutletContext]="{ $implicit: 6 }"></ng-container> }
    }
    
  </div>

  <div class="w-full flex flex-col sm:flex-row gap-4">
    <button type="button" class="flex-1 font-medium rounded-md p-1 bg-[--primary-color] hover:opacity-75 disabled:bg-transparent" (click)="previous()" [disabled]="currentImageIndex() == minImageIndex">Previous</button>
    <button type="button" class="flex-1 font-medium rounded-md p-1 bg-[--primary-color] hover:opacity-75 disabled:bg-transparent" (click)="next()" [disabled]="currentImageIndex() == maxImageIndex">Next</button>
  </div>
</section>

<ng-template #image let-imageIndex>
  <img class="block row-span-full col-span-full" [src]="'/assets/images/' + imageIndex + '.jpg'">
</ng-template>