@mixin light-mode() {
  --background-color: #F3F3F3;
  --text-color: #000000;
  --text-secondary-color: #171717;
  --border-color: #334155;
}

@mixin dark-mode() {
  --background-color: #000000;
  --text-color: #F3F3F3;
  --text-secondary-color: #A8A29E;
  --border-color: #CBD5E1;
}

@mixin commons() {
  --primary-color: #4338CA;
}