<app-template-component>
  <div class="w-full grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-6">
    <app-button title="+10" buttonColor="success" (onButtonClick)="updateValue(10)"/>
    <app-button title="+25" buttonColor="success" (onButtonClick)="updateValue(25)"/>
    <app-button title="+50" buttonColor="success" (onButtonClick)="updateValue(50)"/>
    <app-button title="-50" buttonColor="danger" (onButtonClick)="updateValue(-50)"/>
    <app-button title="-25" buttonColor="danger" (onButtonClick)="updateValue(-25)"/>
    <app-button title="-10" buttonColor="danger" (onButtonClick)="updateValue(-10)"/>
  </div>

  <span class="w-full text-center font-medium">Current progress is {{progress()}}%</span>

  <div class="w-full flex bg-red-700 h-6 rounded-md">
    <div class="bg-green-700 rounded-s-md" [style.width.%]="progress()"></div>
  </div>
</app-template-component>