@if (hasComponentSelected()) {
  <div class="flex flex-col w-full">
    <ng-container #vcr></ng-container>
    <button class="mt-10 mx-auto font-semibold rounded-sm text-[--primary-color] hover:text-[--hover-color] hover:underline" type="button" (click)="back()">Back to components page</button>
  </div>
}
@else {
  <div class="grid sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4 p-4">
    @for (component of componentsService.getComponents() | async; track $index) {
      <app-component-card [component]="component" (onOpenComponent)="openComponent($event)"></app-component-card>
    }
  </div>
}