<section class="w-full flex flex-col justify-center items-center gap-4 p-4">
  <header>
    <span class="font-medium text-center">{{message()}}</span>
  </header>

  <div class="grid grid-cols-3 gap-2 border border-dashed border-[--color-text] box-border p-3" [style.fontSize.px]="fontSize()" #container>
    @for (item of [0, 1, 2, 3, 4, 5, 6, 7, 8]; track $index) {
      <span class="hover:scale-125">🚀</span>
    }
  </div>

  <input [formControl]="sliderValue" type="range" min="9" max="32" step="1"> 

</section>