@tailwind base;
@tailwind components;
@tailwind utilities;

@import './app/core/scss/mixins.scss';

html {
  background: var(--background-color, #000000);
  color: var(--text-color, #F3F3F3);
  
  @include commons();
}

html.dark {
  @include dark-mode();
}

html.light {
  @include light-mode();
}

.revert-svg-color { 
  filter: invert(100%); 
}

.hover-svg-color:hover { 
  filter: brightness(0) saturate(100%) invert(17%) sepia(92%) saturate(3639%) hue-rotate(245deg) brightness(83%) contrast(90%); 
}