@tailwind base;
@tailwind components;
@tailwind utilities;

@import './scss/variables.scss';
@import './scss/fonts.scss';

html {
  background: var(--color-background);
  color: var(--color-text);
  font-size: 100%;
  font-family: 'Inter', Helvetica, sans-serif;

  
}

html.dark {
  @include dark-mode();
}

html.light {
  @include light-mode();
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: var(--color-scrollbar-knob); 
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-scrollbar-knob-active); 
}

.revert-svg-color { 
  filter: invert(100%); 
}

.hover-svg-color:hover { 
  filter: invert(45%) sepia(88%) saturate(465%) hue-rotate(182deg) brightness(105%) contrast(98%);
}