@if (themeService.isDarkTheme) {
  <ng-container [ngTemplateOutlet]="button" [ngTemplateOutletContext]="{ $implicit: '/assets/svg/sun.svg' }"
  />
}
@else if (themeService.isLightTheme) {
  <ng-container [ngTemplateOutlet]="button" [ngTemplateOutletContext]="{ $implicit: '/assets/svg/moon.svg' }"
  />
}

<ng-template #button let-imagePath>
  <button type="button" class="hover-svg-color hover:scale-105 hover:underline" (click)="toggleTheme()">
    <img [src]="imagePath">
  </button>
</ng-template>